/* Base container and layout */
.container {
    width: 100%;
    height: 100vh;
/*    margin: 20px;*/
    background-color: #ffffff;
    border: 1px black solid;
    display: grid;
    grid-template-areas: 
        "cover projects";
    grid-template-columns: 3fr 4fr;
    gap: 0px;
}

/* Cover styling */
.cover {
    background-color: #ECECEC;
    border-right: 1px black solid;
    position: relative;
    grid-area: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.stage {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  z-index: -1;*/
}

.logo {
    align-self: start;
    width: 50%;
    padding: 25px;
}

.logoIcon {
    width: 24px;
    height: 24px;
    border: 1px solid black;
}

.intro {

}

.logo, .intro {
    position: relative;
    z-index: 1; /* This ensures these elements stay above the canvas */
}


/* Project cards and grid */
.projects {
    grid-area: projects;
    display: grid;
    gap: 0px;
    align-content: start;
    align-items: start;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: #000;
}

.project {
    background-color: #e0e0e0;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    aspect-ratio: 1; /* This keeps the card as a square */
    display: flex;
    align-items: center;
    justify-content: center; /* These flex properties center the text inside each project card */
}

@media (max-width: 800px) {
    .container {
        grid-template-areas: 
            "cover"
            "projects";
        grid-template-columns: 1fr; /* This makes it single column layout on smaller screens */
    }
}

/* Typography */

.projectTitle {
    font-size: 2rem;
}
